<div id="navbar-wrapper" style="position: fixed;">
    <nav class="navbar navbar-inverse bg-primary" style="background-color: #041d54 !important;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>उPASतिथि</b></a>
            </div>
        </div>
    </nav>
</div>